body {
	background-color: black;
}
			
table {
	color: white; 
	top:50%; 
	left:50%; 
	position:absolute; 
	margin-top:-260px; 
	margin-left:-250px;
	border: 1px solid white; 
	border-collapse: collapse;
}

td {
	padding: 12px; 
	text-align: center
}

#correct {
	background-color: green;
}

#incorrect {
	background-color: red;
}

#statistic {
	clear: both;
	margin: auto;
	color: white;
	font-size: 20px;
}
